

*{
    margin: 0;
    padding: 0;
    font-family: "Gabarito", sans-serif;

}
body
{
  margin: 5px;
  font-size: 100%;
}
.navbar{
    display: flex;
justify-content: space-between; 
border-bottom: solid black 1px;
padding: 10px;
gap: 10px;
align-items: center;
position: sticky;
top: 0;
background-color: white;
z-index: 2;
}
.navbar-title h1{
    color: #A435F0;
    align-items: center;
}
.navbar-search{
    display: flex;
    padding: 10px;
    border: black 1px solid;
    border-radius: 30px;
    width: 60%;
    gap: 10px;
    align-items: center;


}
.navbar-search input{
    border: none;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
}
.navbar-search input:focus{
  outline: none;
}
.navbar-icons{
    display: flex;
   justify-content: space-between; 
   gap: 10px;
   align-items: center;
}
.menubar{
    display: none;
}
.categories
{
   flex-wrap: wrap;
    padding : 10px;
    border-bottom: solid black 1px;
    display: flex;
    justify-content: space-around;
}
.categories p{
    padding: 10px;
    border-radius: 30px;
    background-color: #A435F0;
    border: 1px solid #A435F0 ;
    color: white;
    cursor: pointer;
}
.categories p:hover{
    color: black;
    background-color: white;
   border: 1px solid black;
   transition-duration: 0.7s
   
}

.image
{
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}
.image-s1{
    width: 100%;
}
.corsecard {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 10px;

}
.corse-1,.corse-2,.corse-3,.corse-4{
   flex-basis: 20%;
   height: 60%;
   
    flex-grow: 1;
    margin: 2px;
}
.corse-1 img,.corse-2 img,.corse-3 img,.corse-4 img{
    width: 100%;
  
}
.topic{
    display: flex;
    flex-wrap: wrap;
   gap: 10px;
   margin-bottom: 10px;
   margin-top: 10px;
}
.topic p{
    display: flex;
    justify-content: center;
    padding: 5px;
    border: black 1px solid;
    flex-basis: 25%;
    flex-grow: 1;
  
}
.popular{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;

}
.popular div{
 flex-basis: 20%;
   height: 50%;
   
    flex-grow: 1;
    margin: 2px;
}
.table1{
   
    background-color: black;
    color: white;
   
    padding: 30px;
}
.tab1{
    display: flex;
    gap :15px
}
.tab1 p{
    margin: 20px;

}
.table2{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;

} 
.flash{
    
    width: 20%;
    height: 20%;
    background-color: white;
    position: absolute;
    border: black 2px solid;
    bottom: 40px;
    left: 30px;
    padding: 10px;
    animation-name: zoom;  
    animation-duration: 2s;  
    opacity: 0;
    animation-fill-mode: forwards;
}
@keyframes zoom{
    0%{
        transform: scale(0);
        opacity: 0;

    }
    100%{
        transform: scale(1);
        opacity: 1;
    }

}

.mylearn{
    position: relative;
}
.mylearn--box{
    position: absolute;
    background-color: white;
    border: black 1px solid;
    padding: 10px;
    width: 100px;
    margin-top: 10px;
    right: 0;
    display: none;
}
.mylearn:hover .mylearn--box{
    display: block;
}

@media screen and (max-width: 600px){
    body{
        font-size: 75%;
    }
    .menubar{
    display: block;
}
.navbar-search{
    display: none


}
.navbar-search input{
 display: none;
}
.navbar-search input:focus{
  display: none;
}
.navbar-icons{
    display: none;
}

.categories
{
display: none;
}
.corse-1,.corse-2,.corse-3,.corse-4{
   flex-basis: 40%;
}
.popular div{
 flex-basis: 40%;
}
.flash{
   font-size: 7px;
     bottom: 20px;
    left: 20px;
}

}